<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="doctor" class="org.autarklab.Doctor">
        <constructor-arg value="Colina"></constructor-arg>
        <property name="qualification" value="M.D"></property>
    </bean>
    <bean id="nurse" class="org.autarklab.Nurse"></bean>
    <bean id="sb" class="org.autarklab.StretcherBearer"></bean>

</beans>